services:
  gateway:
    build:
      context: ./gateway

  frontend:
    build:
      context: ./frontend

  backend:
    build:
      context: .
      # Para desarrollo no usar docker secrets (validar muy bien ambos flujos)
      args:
        GHP_USERNAME: ${GHP_USERNAME}
        GHP_PASSWORD: ${GHP_PASSWORD}
