# .env file
# Application for environment variables 

# Reference Application Variables
TAG=3.2.1-rc.3
# OMRS_DB_USER=
# OMRS_DB_PASSWORD=
# MYSQL_ROOT_PASSWORD=
# OMRS_DB_R_USER=
# OMRS_DB_R_PASSWORD=
# MYSQL_ROOT_R_PASSWORD=

# Database Backup Variables
# BACKUP_DATA=
# BACKUP_DIR=
# DB_CONTAINER_ID=